body {
    overflow-x: hidden;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    font-family: "work sans", sans-serif;
}




* {
    text-decoration: none;
}

a {
    color: bisque;
}

h1 h2 h3 {
   font-family: "Roboto Condensed", sans-serif; 
}

nav {
    display: flex;
    background-color: #b86d6d;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    right: 0;
}


nav ul {
    display: flex;
    align-items: center;
    padding: 0 10%;
    list-style: none;

}

nav ul li a {

    font-size: 16px;
    padding: 0 15px;
    transition: 0.2s;
    text-transform: uppercase;

}


nav ul li a:hover {
    transition: 0.2s;
    color: black;
    
}

.contanier {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.hero {
    padding-top: 130px;
}

.hero img {
    border-style: none;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    max-width: 440px;
}


h1 {
    color: black;
    text-align: center;
    font-size: 24px;
    margin: 30px 0px 100px;
}


.aboutme {
    width: 90%;
    max-width: 1100px;
    height: auto;
    background-color: whitesmoke;
    text-align: center;
    padding: 40px 50px 70px;
    margin: 0 auto;
    box-shadow: 10px 10px 0px rgb(0 0 0/ 40%), -10px -10px 0px rgb(255 114 114/ 80%) ;

}

.aboutme-section {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

.aboutme-image {
    height: 450px;
    width: 400px;
    background-image: url(image/mikk.jpg);
    background-size: cover;
    background-position: center;
}


.aboutme-text {
    height: auto;
    width: 40%;
    margin-left: 40px;
    text-align: left;
}

#projects {
    padding: 5px;
    margin: 5%;
    height: auto;
    width: 90%;
    text-align: center;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

#projects h2 {
    color: antiquewhite;
}

.earth-projects {
    width: 400px;
    height: 400px;
    position: relative;
    background-color: whitesmoke;
    border-radius: 10px;
    background-image: url("image/michael.jpg");
    margin: 20px;
    background-size: cover;
    background-position: center;


}
.bbc-projects {
    width: 400px;
    height: 400px;
    position: relative;
    background-color: whitesmoke;
    border-radius: 10px;
    background-image: url("image/bbc.svg");
    margin: 20px;
    background-size: cover;
    background-position: center;


}

.text {
    position: absolute;
    height: 20px;
    width: 90%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background-color: whitesmoke;
    overflow: hidden;
    transition: 0.2s;
    padding: 20px;
}


.text:hover {
    height: 105px;
    transition: 0.3s;
}

.text h3 {
    margin-top: 3px;
}

.text a {
    color: #b12a5b;
}

.content {
    color: black;
}

.button {
    border: 5px solid rgb(242, 208, 208);
    border-radius: 10px;
    width: 160px;
    margin-bottom: 100px;
    margin-left: 10px;
    
}

.contact {
    width: 100%;
    height: auto;
    padding: 75px 0 50px 0;
    text-align: center;
    background-color: rgba(3, 3, 3, 45%);
}



.contact p {
    margin-bottom: 50px;
}

.contact h2, .contact p {
    color: aliceblue;
}


.contact-form {
    max-width: 800px;
    display: flex;
    text-align: left;
    max-width: 1100px;
    margin: 0 auto;
    color: aliceblue;
}

.contact-form label {
    display: block;
    margin-bottom: 9px;
}


.message {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.message textarea {
    border: 0px;
    border-radius: 5px;
}


.contact-details {
    flex: 1;
    margin-right: 50px;
}

.contact-details input {
    width: 100px;
    border-radius: 5px;
    border: 0;
    padding: 15px 20px;
    margin-bottom: 20px;
}



.message button {
  color: #b12a5b;
  border: 0; 
  border-radius: 5px;
   background: rgb(228, 122, 122);
   width: 140px;
   height: 40px;
   margin-top: 40px;
   margin-left: auto;
   text-transform: uppercase;
   font-weight: bold;
   cursor: pointer;
   transition: 0.3s;
}

.message button:hover {
    background: black;
    color: antiquewhite;
    transition: 0.2s;
} 

footer {
    height: 90px;
    background-color: #1f2025;
}

footer .contanier {
    display: flex;
    align-items: center;
    height: 100%;
    /* position: relative; */
}


.social-media {
   font-size: 200%;
   width: auto;
   margin-left: auto; 
   /* position: absolute; */
   /* right: 0; */

}

.social-media a i{
    color: brown;
    transition: 0.2s;
}

.social-media a i:hover {
    color: #cf556c;
    transition: 0.2;
}


.copyright {
    color: whitesmoke;
}


































































































































































































































































































































@media screen and (max-width: 1024) {
    nav {
    display: flex;
    background-color: #b86d6d;
    justify-content: center;
    position: fixed;
    width: 90%;
    z-index: 1;
    top: 0;
    right: 0;
}


nav ul {
    display: flex;
    align-items: center;
    padding: 0 10%;
    list-style: none;

}

nav ul li a {

    font-size: 8px;
    padding: 0 7px;
    transition: 0.2s;
    text-transform: uppercase;

}


nav ul li a:hover {
    transition: 0.2s;
    color: black;
    
}
.text {
    transition: 0.2s;
}


.text:hover {
    height: 105px;
    transition: 0.3s;
}



}




/* -----------tablet and mobile---------- */

@media screen and (max-width: 768px) {
    
    nav ul li a {

    font-size: 16px;
    padding: 0 15px;
    transition: 0.2s;
    text-transform: uppercase;

}




.hero img {

    max-width: 200px;
}

.aboutme {
    width: 90%;
    max-width: fit-content;
}

.aboutme-image{
    max-width: 300px;
}
.text {
    transition: 0.2s;
}


.text:hover {
    height: 105px;
    transition: 0.3s;
}
}









@media screen and (max-width: 350px) {
     nav ul li a {

    font-size: 8px;
    padding: 0 15px;
    transition: 0.2s;
    text-transform: uppercase;

}



    
}

